.portstyle{
	padding: 2px;
	margin-right:1.7%;

}
.travelstyle{
	padding: 2px;
	margin-right:1.7%;
}

.kitchenstyle{
	padding: 2px;
	margin-right:1.7%;
}

.contactstyle{
	padding: 2px;
	margin-right:1.7%;
}

.navbar {
	background: white;
}

.headerLinks{
	margin-top:2%;
	margin-left: 3.9%;
}
.bodyContainer{
	margin-top:5%;
}


/*CSS 3 ANIMATION FOR HEADER******************************************/
.headerLinks a:hover,
.headerLinks a:focus {
	outline: none;
	text-decoration: none;
}

.headerLinks a::before,
.headerLinks a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.headerLinks a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.headerLinks a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.headerLinks a:hover::before,
.headerLinks a:hover::after,
.headerLinks a:focus::before,
.headerLinks a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}



/****************JUMBOSCROLLER*******/
/*JUMBO SCREEN */

.jumboScreen {
	margin-top: 5%;

}

/********row STYLEs************/

#rowVertical {
	margin-top: 25px;

}

.middlecolumnfix {
	margin-top: 20px;


}

.rightcolumnfix {
	margin-left:50px;
}

/***********picture styles CSS3**/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



/***carousel styles***/
.carousel-control {
    width: 3%;

}
.carousel-inner {
    height: 700px;
}




a.fancybox img {
        border: none;
        text-align: center

} 

#fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1102;
    background-color:white;
    border:none;
  }